@import "./settings/colors";
@import "./settings/fonts";

.contact {
  width: 100vw;
  height: 100vh;
  margin-top: 100px;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffffc9;
  display: flex;

  .contact__img {
    img {
      width: 100vw;
      height: 100vh;
      z-index: -1;
      position: absolute;
    }
  }
  //wow
  .form {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .form__header {
      width: 50vw;
      height: 120px;
      margin-left: 50vw;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      h3 {
        font-size: 38px;
        padding-bottom: 25px;
      }

      .form__decoration {
        width: 250px;
        height: 35px;
        background-image: url(../assets/Decoration.svg);
        margin-top: 25px;
      }
    }
    .form__content {
      width: 50vw;
      margin-left: 50vw;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-top: 70px;

      label {
        font-size: 16px;
        padding-right: 45px;
        font-size: 16px;
      }

      div {
        display: flex;
        input {
          border: none;
          border-bottom: 1px solid black;
          width: 150px;
          margin-top: 15px;

          &:first-of-type {
            margin-right: 15px;
          }
        }
      }

      .form__content--text {
        padding-top: 40px;
        display: flex;
        flex-direction: column;

        label {
          margin-right: 105px;
        }

        input {
          width: 20vw;
          height: 100px;
          background-color: #ffffffc9;
          border-bottom: 2px solid black;
        }
      }
      button {
        margin-top: 45px;
        margin-left: 150px;
        border: 1px solid black;
        padding: 13px 52px;
        font-size: 18px;
        font-family: $font-base;
        color: black;
        background-color: #ffffffc9;
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 150px;

  img {
    margin-left: 20px;

    &:nth-of-type(1) {
      padding: 0 0 0 190px;
    }
  }
}

.modal-body {
  text-align: center;
}
